.elementor-kit-9 {
    --e-global-color-primary: #11642E;
    --e-global-color-secondary: #F3ECB0;
    --e-global-color-text: #6E6E6E;
    --e-global-color-accent: #27548A;
    --e-global-color-50b2a21: #FFFFFF45;
    --e-global-color-2d6a869: #DADADA;
    --e-global-color-9c764db: #27548A;
    --e-global-color-6b0ce64: #F6F6F6;
    --e-global-color-fdf12ae: #FFFFFFD4;
    --e-global-color-a4f6956: #ADE792;
    --e-global-color-cc70055: #6ECCAF42;
    --e-global-color-8ef0d58: #6ECCAFD9;
    --e-global-color-b391517: #11642E;
    --e-global-color-1514b16: #0F0F0F;
    --e-global-typography-primary-font-family: "Rubik";
    --e-global-typography-secondary-font-family: "Rubik";
    --e-global-typography-text-font-family: "Rubik";
    --e-global-typography-text-font-size: 17px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Rubik";
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1.3em;
    --e-global-typography-5898891-font-family: "Rubik";
    --e-global-typography-5898891-font-size: 250px;
    --e-global-typography-5898891-font-weight: bold;
    --e-global-typography-5898891-line-height: 1em;
    --e-global-typography-5898891-letter-spacing: 25px;
    --e-global-typography-db48b8b-font-family: "Rubik";
    --e-global-typography-db48b8b-font-size: 60px;
    --e-global-typography-db48b8b-font-weight: 700;
    --e-global-typography-db48b8b-line-height: 1.3em;
    --e-global-typography-c397194-font-family: "Rubik";
    --e-global-typography-c397194-font-size: 45px;
    --e-global-typography-c397194-font-weight: 700;
    --e-global-typography-c397194-line-height: 1.3em;
    --e-global-typography-679076f-font-family: "Rubik";
    --e-global-typography-679076f-font-size: 35px;
    --e-global-typography-679076f-font-weight: 700;
    --e-global-typography-679076f-line-height: 1.3em;
    --e-global-typography-a10f8a0-font-family: "Rubik";
    --e-global-typography-a10f8a0-font-size: 25px;
    --e-global-typography-a10f8a0-font-weight: 700;
    --e-global-typography-a10f8a0-line-height: 1.3em;
    --e-global-typography-b21c26e-font-family: "Rubik";
    --e-global-typography-b21c26e-font-size: 20px;
    --e-global-typography-b21c26e-font-weight: 700;
    --e-global-typography-b21c26e-line-height: 1.3em;
    --e-global-typography-4aceb21-font-family: "Rubik";
    --e-global-typography-4aceb21-font-size: 17px;
    --e-global-typography-4aceb21-font-weight: 700;
    --e-global-typography-4aceb21-line-height: 1.3em;
    --e-global-typography-1eb2da8-font-family: "Rubik";
    --e-global-typography-1eb2da8-font-size: 15px;
    --e-global-typography-3be2057-font-family: "Rubik";
    --e-global-typography-3be2057-font-size: 20px;
    --e-global-typography-3be2057-font-weight: bold;
    --e-global-typography-3be2057-font-style: italic;
    --e-global-typography-3be2057-line-height: 1.3em;
    --e-global-typography-94bac04-font-family: "Rubik";
    --e-global-typography-94bac04-font-size: 15px;
    --e-global-typography-94bac04-font-weight: 600;
    --e-global-typography-94bac04-line-height: 1.5em;
    --e-global-typography-b9711bb-font-family: "Rubik";
    --e-global-typography-b9711bb-font-size: 18px;
    --e-global-typography-b9711bb-font-weight: 600;
    --e-global-typography-b9711bb-text-transform: uppercase;
    --e-global-typography-b9711bb-line-height: 1.3em;
    --e-global-typography-b9711bb-letter-spacing: 2px;
    --e-global-typography-f4f8084-font-family: "Rubik";
    --e-global-typography-f4f8084-font-size: 35px;
    --e-global-typography-f4f8084-font-weight: 700;
    --e-global-typography-f4f8084-font-style: italic;
    --e-global-typography-f4f8084-line-height: 1.3em;
    --e-global-typography-f4f8084-letter-spacing: 1.5px;
    --e-global-typography-886f0f6-font-family: "Rubik";
    --e-global-typography-886f0f6-font-size: 20px;
    --e-global-typography-886f0f6-font-weight: 700;
    --e-global-typography-886f0f6-text-decoration: line-through;
    --e-global-typography-886f0f6-line-height: 1.3em;
    --e-global-typography-48cd92d-font-family: "Rubik";
    --e-global-typography-48cd92d-font-size: 17px;
    --e-global-typography-48cd92d-font-weight: 500;
    --e-global-typography-48cd92d-font-style: italic;
    --e-global-typography-48cd92d-line-height: 1.5em;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
}

    .elementor-kit-9 button, .elementor-kit-9 input[type="button"], .elementor-kit-9 input[type="submit"], .elementor-kit-9 .elementor-button {
        background-color: var( --e-global-color-primary );
        font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
        font-size: var( --e-global-typography-accent-font-size );
        font-weight: var( --e-global-typography-accent-font-weight );
        line-height: var( --e-global-typography-accent-line-height );
        color: #FFFFFF;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: var( --e-global-color-primary );
        border-radius: 20px 20px 20px 20px;
        padding: 18px 36px 18px 36px;
    }

        .elementor-kit-9 button:hover, .elementor-kit-9 button:focus, .elementor-kit-9 input[type="button"]:hover, .elementor-kit-9 input[type="button"]:focus, .elementor-kit-9 input[type="submit"]:hover, .elementor-kit-9 input[type="submit"]:focus, .elementor-kit-9 .elementor-button:hover, .elementor-kit-9 .elementor-button:focus {
            background-color: var( --e-global-color-secondary );
            color: var( --e-global-color-9c764db );
            box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
            border-style: solid;
            border-color: var( --e-global-color-secondary );
        }

    .elementor-kit-9 e-page-transition {
        background-color: #FFBC7D;
    }

    .elementor-kit-9 a {
        color: var( --e-global-color-primary );
    }

    .elementor-kit-9 h1 {
        color: var( --e-global-color-accent );
        font-family: var( --e-global-typography-db48b8b-font-family ), Sans-serif;
        font-size: var( --e-global-typography-db48b8b-font-size );
        font-weight: var( --e-global-typography-db48b8b-font-weight );
        line-height: var( --e-global-typography-db48b8b-line-height );
    }

    .elementor-kit-9 h2 {
        color: var( --e-global-color-accent );
        font-family: var( --e-global-typography-c397194-font-family ), Sans-serif;
        font-size: var( --e-global-typography-c397194-font-size );
        font-weight: var( --e-global-typography-c397194-font-weight );
        line-height: var( --e-global-typography-c397194-line-height );
    }

    .elementor-kit-9 h3 {
        color: var( --e-global-color-primary );
        font-family: var( --e-global-typography-679076f-font-family ), Sans-serif;
        font-size: var( --e-global-typography-679076f-font-size );
        font-weight: var( --e-global-typography-679076f-font-weight );
        line-height: var( --e-global-typography-679076f-line-height );
    }

    .elementor-kit-9 h4 {
        color: var( --e-global-color-accent );
        font-family: var( --e-global-typography-a10f8a0-font-family ), Sans-serif;
        font-size: var( --e-global-typography-a10f8a0-font-size );
        font-weight: var( --e-global-typography-a10f8a0-font-weight );
        line-height: var( --e-global-typography-a10f8a0-line-height );
    }

    .elementor-kit-9 h5 {
        color: var( --e-global-color-accent );
        font-family: var( --e-global-typography-b21c26e-font-family ), Sans-serif;
        font-size: var( --e-global-typography-b21c26e-font-size );
        font-weight: var( --e-global-typography-b21c26e-font-weight );
        line-height: var( --e-global-typography-b21c26e-line-height );
    }

    .elementor-kit-9 h6 {
        color: var( --e-global-color-accent );
        font-family: var( --e-global-typography-4aceb21-font-family ), Sans-serif;
        font-size: var( --e-global-typography-4aceb21-font-size );
        font-weight: var( --e-global-typography-4aceb21-font-weight );
        line-height: var( --e-global-typography-4aceb21-line-height );
    }

    .elementor-kit-9 img {
        border-radius: 20px 20px 20px 20px;
    }

    .elementor-kit-9 label {
        font-family: var( --e-global-typography-94bac04-font-family ), Sans-serif;
        font-size: var( --e-global-typography-94bac04-font-size );
        font-weight: var( --e-global-typography-94bac04-font-weight );
        line-height: var( --e-global-typography-94bac04-line-height );
    }

    .elementor-kit-9 input:not([type="button"]):not([type="submit"]), .elementor-kit-9 textarea, .elementor-kit-9 .elementor-field-textual {
        font-family: var( --e-global-typography-1eb2da8-font-family ), Sans-serif;
        font-size: var( --e-global-typography-1eb2da8-font-size );
        color: var( --e-global-color-text );
        background-color: #F6F6F600;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: var( --e-global-color-50b2a21 );
        border-radius: 20px 20px 20px 20px;
        padding: 17px 17px 17px 17px;
    }

        .elementor-kit-9 input:focus:not([type="button"]):not([type="submit"]), .elementor-kit-9 textarea:focus, .elementor-kit-9 .elementor-field-textual:focus {
            color: var( --e-global-color-text );
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
            border-style: solid;
            border-color: var( --e-global-color-secondary );
        }

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-9 {
        --e-global-typography-db48b8b-font-size: 45px;
        --e-global-typography-c397194-font-size: 35px;
        --e-global-typography-679076f-font-size: 30px;
        --e-global-typography-a10f8a0-font-size: 23px;
        --e-global-typography-b21c26e-font-size: 17px;
        --e-global-typography-4aceb21-font-size: 15px;
        --e-global-typography-3be2057-font-size: 17px;
        --e-global-typography-f4f8084-font-size: 30px;
        --e-global-typography-886f0f6-font-size: 17px;
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

        .elementor-kit-9 h1 {
            font-size: var( --e-global-typography-db48b8b-font-size );
            line-height: var( --e-global-typography-db48b8b-line-height );
        }

        .elementor-kit-9 h2 {
            font-size: var( --e-global-typography-c397194-font-size );
            line-height: var( --e-global-typography-c397194-line-height );
        }

        .elementor-kit-9 h3 {
            font-size: var( --e-global-typography-679076f-font-size );
            line-height: var( --e-global-typography-679076f-line-height );
        }

        .elementor-kit-9 h4 {
            font-size: var( --e-global-typography-a10f8a0-font-size );
            line-height: var( --e-global-typography-a10f8a0-line-height );
        }

        .elementor-kit-9 h5 {
            font-size: var( --e-global-typography-b21c26e-font-size );
            line-height: var( --e-global-typography-b21c26e-line-height );
        }

        .elementor-kit-9 h6 {
            font-size: var( --e-global-typography-4aceb21-font-size );
            line-height: var( --e-global-typography-4aceb21-line-height );
        }

        .elementor-kit-9 button, .elementor-kit-9 input[type="button"], .elementor-kit-9 input[type="submit"], .elementor-kit-9 .elementor-button {
            font-size: var( --e-global-typography-accent-font-size );
            line-height: var( --e-global-typography-accent-line-height );
        }

        .elementor-kit-9 label {
            font-size: var( --e-global-typography-94bac04-font-size );
            line-height: var( --e-global-typography-94bac04-line-height );
        }

        .elementor-kit-9 input:not([type="button"]):not([type="submit"]), .elementor-kit-9 textarea, .elementor-kit-9 .elementor-field-textual {
            font-size: var( --e-global-typography-1eb2da8-font-size );
        }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-9 {
        --e-global-typography-5898891-font-size: 120px;
        --e-global-typography-5898891-letter-spacing: 10px;
        --e-global-typography-db48b8b-font-size: 35px;
        --e-global-typography-c397194-font-size: 25px;
        --e-global-typography-679076f-font-size: 23px;
        --e-global-typography-a10f8a0-font-size: 20px;
        --e-global-typography-b21c26e-font-size: 15px;
        --e-global-typography-4aceb21-font-size: 15px;
        --e-global-typography-3be2057-font-size: 15px;
        --e-global-typography-f4f8084-font-size: 23px;
        --e-global-typography-886f0f6-font-size: 15px;
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

        .elementor-kit-9 h1 {
            font-size: var( --e-global-typography-db48b8b-font-size );
            line-height: var( --e-global-typography-db48b8b-line-height );
        }

        .elementor-kit-9 h2 {
            font-size: var( --e-global-typography-c397194-font-size );
            line-height: var( --e-global-typography-c397194-line-height );
        }

        .elementor-kit-9 h3 {
            font-size: var( --e-global-typography-679076f-font-size );
            line-height: var( --e-global-typography-679076f-line-height );
        }

        .elementor-kit-9 h4 {
            font-size: var( --e-global-typography-a10f8a0-font-size );
            line-height: var( --e-global-typography-a10f8a0-line-height );
        }

        .elementor-kit-9 h5 {
            font-size: var( --e-global-typography-b21c26e-font-size );
            line-height: var( --e-global-typography-b21c26e-line-height );
        }

        .elementor-kit-9 h6 {
            font-size: var( --e-global-typography-4aceb21-font-size );
            line-height: var( --e-global-typography-4aceb21-line-height );
        }

        .elementor-kit-9 button, .elementor-kit-9 input[type="button"], .elementor-kit-9 input[type="submit"], .elementor-kit-9 .elementor-button {
            font-size: var( --e-global-typography-accent-font-size );
            line-height: var( --e-global-typography-accent-line-height );
        }

        .elementor-kit-9 label {
            font-size: var( --e-global-typography-94bac04-font-size );
            line-height: var( --e-global-typography-94bac04-line-height );
        }

        .elementor-kit-9 input:not([type="button"]):not([type="submit"]), .elementor-kit-9 textarea, .elementor-kit-9 .elementor-field-textual {
            font-size: var( --e-global-typography-1eb2da8-font-size );
        }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}
